<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%logger{0}] --> %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Async wrapper -->
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE" />
    </appender>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="ASYNC" />
    </root>

</configuration>